doctype html 
html 
   head 
      block head   
         meta( charset='UTF-8' )
         meta( name='viewport' content='width=device-width, initial-scale=1.0' )
         title blah
         link(rel="shortcut icon" href="./eye.png" type="image/x-icon")
         link(rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css")
         link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css' integrity='sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==' crossorigin='anonymous' referrerpolicy='no-referrer')
         link(rel='stylesheet' href='./css/style.css')
         link(rel='stylesheet' href='./../css/billing.css')
   body.padding

      block content

      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js' integrity='sha512-nO7wgHUoWPYGCNriyGzcFwPSF+bPDOR+NvtOYy2wMcWkrnCNPKBcFEkU80XIN14UVja0Gdnff9EmydyLlOL7mQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js' integrity='sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==' crossorigin='anonymous' referrerpolicy='no-referrer')
      script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.js" integrity="sha512-SjwdpP6ljFy32hbO7xH/8Yx7JtKvh/tu+NtYGmMAGKe8hjYU548NH5mle1ObS3r/97PE6jy9sD+fSXPpnmeWAw==" crossorigin="anonymous" referrerpolicy="no-referrer")
      script(src='https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js')
      script(src="./script.js") 
